[html]

# Directory where coverage report should be written.
directory = coverage

[report]

# Show which lines were missed in summary report.
show_missing = true

[run]

# Measure branch coverage in addition to statement coverage.
branch = true

# The source directory to measure.
source = falcon-auth
